@import "Variables";
@import "Functions";

/////////////////// general styles
@font-face {
  font-family: 'Cairo', sans-serif;
}

body {
  background: $lightColor;
  @include transition(all 100ms linear);

}
img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

li {
  list-style-type: none !important;

}
ul{
  padding: 0!important;
}
h1, h2, h3, h4, h5, h6 {
  text-align: justify;
  font-weight: lighter;
  line-height: 2;

}

p {
  margin: 0.5rem 0;
  text-align: justify;
  line-height: 2;
}

a {
  text-decoration: none;
  cursor: pointer;
  line-height: 2;
  color: $orangeColor2;
}

a:hover {
  color: $darkColor3;
}
/////////////////// utility classes
.bg-orange-h {
  background: $orangeColor1;
  color: $darkColor3;
}
.text-red-h {
  color: $redColor;
}
.text-orange-h {
  color: $orangeColor1;
}
.text-blue-h {
  color: $blueColor;
}
.bg-orange2-h {
  background: $orangeColor2;
}
.bg-red-h{
  background-color: $redColor;
  color: $darkColor1;
}
.bg-dark-h {
  background: $darkColor2;
  color: $orangeColor2;
}
.bg-dark2-h {
  background: $darkColor4!important;
}
.bg-blue-h{
  background-color: $blueColor;
  color: $darkColor2;
}
.bg-green-h {
  background: $greenColor;
  color: $darkColor3;
}
.bg-green2-h {
  background: $greenColor-2;
  color: $darkColor3;
}
.bg-light1-h {
  background: $lightColor-1;
  color: $darkColor3;
}
.text-light-h {
  color: $orangeColor2;
}
.text-light1-h {
  color: $lightColor-1!important;
}
.text-dark-h {
  color: $darkColor3;
}
.text-label{
  color: $label-color;
}
.text-dark2-h {
  color: $darkColor4;
}
.text-blue-h{
  color: $blueColor;
}
.text-pink-h{
  color: $pinkColor;
}
.container {
  max-width: $maxWidth;
}
////////////////////////////////// padding classes
.p-1-h {
  @include p(all,0.5rem);
}

.p-2-h {
  @include p(all,0.85rem);
}
///////////////
$p:1;
@for $item from 3 through 7{
  .p-#{$item}-h{
    @include p(all,$p+0rem);
  }
  $p:$p+0.25
}
///////////////////
$p1:2.5;
@for $item from 8 through 10{
  .p-#{$item}-h{
    @include p(all,$p1+0rem);
  }
  $p1:$p1+1
}
///////////////////
.px-1-h {
  @include p(all,0 0.5rem);
}

.px-2-h {
  @include p(all,0 0.85rem);
}
///////////////////
$p3:1;
@for $item from 3 through 7{
  .px-#{$item}-h{
    @include p(all,0  $p3+0rem);
  }
  $p3:$p3+0.25
}
///////////////////
$p4:2.5;
@for $item from 8 through 10{
  .px-#{$item}-h{
    @include p(all,0 $p4+0rem);
  }
  $p4:$p4+1
}
//////////////////

.py-1-h {
  @include p(all,0.5rem 0);
}

.py-2-h {
  @include p(all,0.85rem 0);
}
/////////
$p5:1;
@for $item from 3 through 7{
  .py-#{$item}-h{
    @include p(all,$p5+0rem 0);
  }
  $p5:$p5+0.25
}
//////////////
$p6:2.5;
@for $item from 8 through 10{
  .py-#{$item}-h{
    @include p(all,$p6+0rem 0);
  }
  $p6:$p6+1
}
//////////////

.pr-1-h {
  @include p(r,0.5rem);
}

.pr-2-h {
  @include p(r,0.85rem);
}
///////////////////////
$p7:1;
@for $item from 3 through 7{
  .pr-#{$item}-h{
    @include p(r,$p7+0rem);
  }
  $p7:$p7+0.25
}
//////////////
$p8:2.5;
@for $item from 8 through 10{
  .pr-#{$item}-h{
    @include p(r,$p8+0rem);
  }
  $p8:$p8+1
}
//////////////

.pl-1-h {
  @include p(l,0.5rem);
}

.pl-2-h {
  @include p(l,0.85rem);
}
/////////////////////
$p9:1;
@for $item from 3 through 7{
  .pl-#{$item}-h{
    @include p(l,$p9+0rem);
  }
  $p9:$p9+0.25
}
//////////////
$p10:2.5;
@for $item from 8 through 10{
  .pl-#{$item}-h{
    @include p(l,$p10+0rem);
  }
  $p10:$p10+1
}
/////////////////////

.pt-1-h {
  @include p(t,0.5rem);
}

.pt-2-h {
  @include p(t,0.85rem);
}
////////////////////
$p11:1;
@for $item from 3 through 7{
  .pt-#{$item}-h{
    @include p(t,$p11+0rem);
  }
  $p11:$p11+0.25
}
//////////////
$p12:2.5;
@for $item from 8 through 10{
  .pt-#{$item}-h{
    @include p(t,$p12+0rem);
  }
  $p12:$p12+1
}
////////////////////

.pb-1-h {
  @include p(b,0.5rem);
}

.pb-2-h {
  @include p(b,0.85rem);
}
/////////////////////
$p13:1;
@for $item from 3 through 7{
  .pb-#{$item}-h{
    @include p(b,$p13+0rem);
  }
  $p13:$p13+0.25
}
//////////////
$p14:2.5;
@for $item from 8 through 10{
  .pb-#{$item}-h{
    @include p(b,$p14+0rem);
  }
  $p14:$p14+1
}

///////////////////////////////////////// margin classes/////////////////////////////////////////////////////
.m-1-h {
  @include m(all,0.5rem);
}

.m-2-h {
  @include m(all,0.85rem);
}
///////////////
$m:1;
@for $item from 3 through 7{
  .m-#{$item}-h{
    @include m(all,$m+0rem);
  }
  $m:$m+0.25
}
///////////////////
$m1:2.5;
@for $item from 8 through 10{
  .m-#{$item}-h{
    @include m(all,$m1+0rem);
  }
  $m1:$m1+1
}
///////////////////
.mx-1-h {
  @include m(all,0 0.5rem);
}

.mx-2-h {
  @include m(all,0 0.85rem);
}
///////////////////
$m3:1;
@for $item from 3 through 7{
  .mx-#{$item}-h{
    @include m(all,0  $m3+0rem);
  }
  $m3:$m3+0.25
}
///////////////////
$m4:2.5;
@for $item from 8 through 10{
  .mx-#{$item}-h{
    @include m(all,0 $m4+0rem);
  }
  $m4:$m4+1
}
//////////////////

.my-1-h {
  @include m(all,0.5rem 0);
}

.my-2-h {
  @include m(all,0.85rem 0);
}
/////////
$m5:1;
@for $item from 3 through 7{
  .my-#{$item}-h{
    @include m(all,$m5+0rem 0);
  }
  $m5:$m5+0.25
}
//////////////
$m6:2.5;
@for $item from 8 through 10{
  .my-#{$item}-h{
    @include m(all,$m6+0rem 0);
  }
  $m6:$m6+1
}
//////////////

.mr-1-h {
  @include m(r,0.5rem);
}

.mr-2-h {
  @include m(r,0.85rem);
}
///////////////////////
$m7:1;
@for $item from 3 through 7{
  .mr-#{$item}-h{
    @include m(r,$m7+0rem);
  }
  $m7:$m7+0.25
}
//////////////
$m8:2.5;
@for $item from 8 through 10{
  .mr-#{$item}-h{
    @include m(all,$m8+0rem);
  }
  $m8:$m8+1
}
//////////////

.ml-1-h {
  @include m(l,0.5rem);
}

.ml-2-h {
  @include m(l,0.85rem);
}
/////////////////////
$m9:1;
@for $item from 3 through 7{
  .ml-#{$item}-h{
    @include m(l,$m9+0rem);
  }
  $m9:$m9+0.25
}
//////////////
$m10:2.5;
@for $item from 8 through 10{
  .ml-#{$item}-h{
    @include m(l,$m10+0rem);
  }
  $m10:$m10+1
}
/////////////////////

.mt-1-h {
  @include m(t,0.5rem);
}

.mt-2-h {
  @include m(t,0.85rem);
}
////////////////////
$m11:1;
@for $item from 3 through 7{
  .mt-#{$item}-h{
    @include m(t,$m11+0rem);
  }
  $m11:$m11+0.25
}
//////////////
$m12:2.5;
@for $item from 8 through 10{
  .mt-#{$item}-h{
    @include m(t,$m12+0rem);
  }
  $m12:$m12+1
}
////////////////////

.mb-1-h {
  @include m(b,0.5rem);
}

.mb-2-h {
  @include m(b,0.85rem);
}
/////////////////////
$m13:1;
@for $item from 3 through 7{
  .mb-#{$item}-h{
    @include m(b,$m13+0rem);
  }
  $m13:$m13+0.25
}
//////////////
$m14:2.5;
@for $item from 8 through 10{
  .mb-#{$item}-h{
    @include m(b,$m14+0rem);
  }
  $m14:$m14+1
}

///////////////////////////////////////// font weight classes
$fw:200;
@for $item from 1 through 8{
  .fw-#{$item}-h{
    @include fw($fw)
  }
  $fw:$fw+100
}
///////////////////////////////////////// font size classes
.fs-1-h {
  @include fs(0.5rem);
}

.fs-2-h {
  @include fs(0.85rem);
}
//////
$fs1:1;
@for $item from 3 through 7{
  .fs-#{$item}-h{
    @include fs($fs1+0rem);
  }
  $fs1:$fs1+0.25
}
//////////////
$fs2:2.5;
@for $item from 8 through 10{
  .fs-#{$item}-h{
    @include fs($fs2+0rem);
  }
  $fs2:$fs2+1
}

/////////////////////////// line height classes
@for $item from 2 through 5{
  .lh-#{$item}-h{
    @include lh($item)
  }
}
/////////////////////// list classes
.list-h {
  display: flex;
  @include m(all,0 !important);
  gap: 0.5rem;
}

.list-h li {
  @include lh(3);
  position: relative;
  cursor: pointer;
}

.list-h li a {
  @include p(all,0 1.5rem);
  position: relative;
  z-index: 2;
  @include transition(color 200ms ease-in);
}

.list-h li:before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  @include transition(width 200ms ease-in);
  @include border(all,1px solid $orangeColor1);
  @include q(3){
    transition-duration: 500ms!important;
  }
}

.list-h li {
  @include q(3){
    margin-bottom: 0.3rem;
  }

  &:hover:before{
    width: 100%;
    background-color: $darkColor3!important;
  }
  &:hover a{
    color: $yellowColor!important;
  }
  
}
.list-h li.active {
  &:before{
    width: 100%;
    background-color: $darkColor3!important;
  }
   a{
    color: $yellowColor!important;
  }
}
.list-h li a:hover {
  color: $orangeColor2;
}
//////////////////// button classes
.btn-group-h {
  display: flex;
  gap: 0.4rem;
}
%btn-shared {
  @include lh(3);
  cursor: pointer;
  @include p(all,0 1.5rem);
  display: inline-block;
  @include transition(all 200ms linear);
}
.btn{
  &-orange-h{
    @extend %btn-shared;
    background-color: $orangeColor1;
    color: $darkColor3;
    &:hover{
      background: $greenColor;
    }
  }
  &-gradient-h{
    @extend %btn-shared;
    @include gradientButtonBg;
    color: $darkColor3;
  }
  &-blue-h{
    @extend %btn-shared;
    background-color: $blueColor;
    color: $darkColor3;
    &:hover{
      background-color: $redColor;
    }
  }
  &-dark-h{
    @extend %btn-shared;
    background-color: $darkColor1;
    color: $lightColor;
    &:hover{
      background-color: $darkColor2;
      color: $lightColor;
    }
  }

}

////////////////// field category

%category_shared{
  padding: 0.1rem 0.2rem;
  @include borderRadius(5px);
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 0.2rem;
}
.category{
  &-network{
    @extend %category_shared;
    background-color: rgba(45,156,214,0.2);
    color: #1981d6;
  }
  &-programming{
    @extend %category_shared;
    background-color: rgba(214,73,86,0.2);
    color: $redColor;
  }
  &-security{
    @extend %category_shared;
    background-color: rgba(110,214,75,0.22);
    color:rgba(2,214,89,0.84);
  }
  &-level{
    @extend %category_shared;
    background-color: rgba(0,0,0,9);
    color: rgba(255,255,255,0.9);

  }




}


