$darkColor1:#242321;
$darkColor2:rgba(32, 30, 48, 1);
$darkColor3:#333;
$darkColor4:#264653;
$orangeColor1:rgba(255, 189, 89);
$orangeColor2:#f7eccf;
$greenColor:rgba(201, 216, 55);
$greenColor-2:#adc178;
$lightColor:#fff;
$lightColor-1:#dee2e6;
$pinkColor:#E5DADA;
$whiteColor:#FFFCF2;
$yellowColor:#DFCC74;
$redColor:#ED6A5E;
$blueColor:#96ACB7;
$label-color:#03e9f4;
$maxWidth:1280px;
//////////////////////
$lightModeColor1:#EDB183;
$lightModeColor2:#E7CFBC;

