////////////////// variables
@import "Variables";
////////////////// Functions
@import "Functions";
////////////////// utility classes
@import "UtilityClasses";
///////////////////// change theme////////////////////////
body.changeBg nav{
  background-color: $lightModeColor1;
  *{
    color: $darkColor1;
  }
  #hamburger-menu span{
    background-color: $darkColor1;
  }
  .btn-orange-h{
    background-color: $darkColor3;
    color: $orangeColor2;
    &:hover{
      background-color: $darkColor2;
    }
  }
  .list-h li::before {
    border-color:$darkColor2 ;
    @include q(3){
      border-color:$orangeColor1!important;
    }
  }
}
body.changeBg #header .header-content{
  background-color: $lightModeColor2;
  *{
    color: $darkColor1;
    font-weight: 400;
    border-color: $darkColor1;
  }
  i{
    color: $darkColor2;
  }
  .btn-orange-h{
    background: $darkColor3;
    color: $orangeColor2;
    &:hover{
      background: $darkColor2;
    }
  }
}
body.changeBg{
  .wave path{
    fill: $lightModeColor2!important;
  }
  .wave{
    background-color: $pinkColor;
  }
  .wave-2 {
    svg{
      background-color:$orangeColor2!important; ;
    }

    path{
      fill: $pinkColor!important;
    }

  }
  #about{
    background-color: $pinkColor;
  }
  #journal-slider{
    background-color: $orangeColor2;
    h1, .topic{
      color: $darkColor3!important;
    }
  }
  .wave-3 path{
    fill: $orangeColor2!important;
  }
  #partners,#plans,#product-slider{
    background: $lightColor-1!important;
  }
  .plans-title{
    color: $darkColor3!important;
  }
  #tooltip-licence-1,#tooltip-licence-2,#tooltip-licence-3{
    color: black!important;
  }
  .course-titles{
    color: $darkColor3!important;
  }
  #contact-us{
    background:$lightColor-1!important ;
    h1{
      color: $darkColor3;
    }
  }
  #footer{
    background-color:$lightColor-1!important ;
  }

}
///////////////////// scroll tracer /////////////////
#page-tracer{
  height: 4px;
  @include transition(all 100ms linear);
  z-index: 999;

}
/*/////////////////// header ////////////////////////*/
#nav .btn-group-h{
  @include q(3){
    display: none;
  }
}
#nav .list-h li:last-child, #nav .list-h li:nth-child(6) {
  display: none;
}
#header .header-content{
  @include dimension(100%,auto);
  @include p(b,2rem);
  background: $darkColor1;

}
#header #nav .container .logo .hydraco-logo-pic {
  background: url(../../images/header/Hydraco-logo.png) no-repeat center;
  @include dimension(30px,38px);
}

#header .header-content .container {
  grid-template-columns: 1.5fr 1fr;
  @include q(3){
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

#hamburger-menu {
  cursor: pointer;
}

#hamburger-menu > span {
  display: none;
  @include dimension(28px,2px);
  @include borderRadius(20px);
  background: $orangeColor1;
}

#hamburger-menu > span:not(:last-child) {
  @include m(b,7px);
}

#hamburger-menu, #hamburger-menu > span {
  @include transition(all 0.4s ease-in-out);
}

#hamburger-menu.active {
  transition-delay: 0.8s;
  @include transform(rotate(45deg));
}

#hamburger-menu.active span:nth-child(2) {
  width: 0;
}

#hamburger-menu.active span:nth-child(1), #hamburger-menu.active span:nth-child(3) {
  transition-delay: 0.4s;
}

#hamburger-menu.active span:nth-child(3) {
  @include transform(rotate(90deg) translateX(-9px));
}

#hamburger-menu.active span:nth-child(1) {
  @include transform(translateY(9px));
}

#header .header-content .btn-orange-h {
  justify-self: center;
}

#header .header-content .insure-logo {
  color: $greenColor
}

#header .header-content .box {
  @include p(all,0 0.5rem);
  @include border(all,1px solid $orangeColor1);
  @include borderRadius(6px);
  &:last-child{
    @include q(1){
      grid-column: 1 / span 2;
    }
  }

}

#dragon-icon {
  background: url(../../images/header/Dragon-picture.png) no-repeat;
  @include dimension(147px,162px);
  display: block;
}
#engineer-icon{
  background: url(../../images/header/engineer-picture.png) no-repeat;
  @include dimension(405px,222px);
  display: block;
  @include q(1){
    background: url(../../images/header/engineer-picture-mobile.png) no-repeat;
    @include dimension(267px,135px);
    display: block;
    margin: auto;
  }
}
#header .header-content .container .gird-item-bottom{
  display: grid;
  @include ja(center,end);
}
#hamburger-menu{
  display: none;
  @include q(3){
    display: block;
  }
  span{
    @include q(3){
      display: block;
    }
  }
}
#engineer-icon-2{
  background: url(../../images/header/engineer-picture-2.png)no-repeat;
  @include dimension(275px,185px);
  margin: auto;
  @include q(1){
    background: url(../../images/header/engineer-picture-2-mobile.png);
    @include dimension(198px,183px);
    display: block;
  }
}
#nav .container .logo .switch{
  width: 70px;
  height: 33px;
  border-radius: 20px;
  align-self: center;
  @include offset(left,0.5rem,all,0.2rem);
  background-color: $orangeColor1;
  cursor: pointer;
  @include display(f,row,space-between,center);
  .bi{
    font-size: 1.2rem;
  }
  .bi-circle-fill{
    color: $darkColor3;
    font-size: 1.5rem;
    position: relative;
    left: 0;
    @include animation(moveBackward 250ms linear forwards);
  }
  .bi-brightness-high-fill{
    padding-right: 0.2rem;
  }
}
#nav .container .logo .switch.light .bi-circle-fill{
  @include animation(moveForward 250ms linear forwards);
}
@keyframes moveForward {
  from{
    left: 0;
  } to{
     left: 40px;
  }
}
@keyframes moveBackward {
  from{
    left: 40px;
  }to{
     left: 0;
  }
}

///////////////////////////// about section ////////////////////////////////
.wave{
  background-color: $blueColor;
}

#about{
  background-color: $blueColor;
  h1{
    text-align: center;
    @include testStyle(3rem,400,$darkColor1)
  }
  h5{
    text-align: center;
    @include testStyle(1.5rem,300,$darkColor1)
  }
  main{
    @include display(g,1fr 1.2fr,auto,unset);
    @include ja(center,start);
  }
}
main {
  ul{
    background-color: $whiteColor;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
  }
  li{
     width: 33%;
     text-align: center;
    cursor: pointer;
    &:first-child.active{
      background-color: $orangeColor1;
    }
    &:nth-child(2).active{
      background-color: $redColor;
    }
    &:last-child.active{
      background-color: $greenColor-2;
    }

  }
  .tab article{
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    overflow: hidden;
    @include boxShadow(0 0 7px rgba(0,0,0,0.3));
  }
}
#history,#goals{
  display: none;
}
///////////////////////////////// journal section

#journal-slider{
  background-color: $darkColor3;

  h1, h2, h3, h4, h5, h6{
    line-height: 1;
  }
  a{
    color: #242321;
  }
  .avatar,.article,.type{
    display: inline-flex;
    border-radius: 50%;
    padding: 0.3rem 0.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
  }
  .avatar{
    background: $greenColor;
  }
  .article{
    background-color:$orangeColor1;
    margin-right: 4px;
  }
  .type{
    background-color: $darkColor2;
    color: white;
    margin-left: 10px;
  }
  .sorting{
    font-size: 15px;
    margin-left: 3px;
  }
  .description{
    @include transform(translateY(-25px));
    display: none;
    line-height: 1.5;
  }
  .bookmark{
    z-index: 5;
    top: 2px;
    right: 4px;
    font-size: 1.5rem;
    color: $orangeColor1;

  }
  .next-slider,.prev-slider{
    display: inline-flex;
    background: $orangeColor1;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.journal{
  @include display(f,column,unset,unset);
  @include dimension(274px,267px);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15px),0% 100%);
  border-radius: 10px;
  background-color: $lightColor;
  overflow: hidden;
  position: relative;
  @include transition(all 200ms linear);
  cursor: pointer;

  ///////////////////////////////
  .arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid $darkColor4;
    border-right: 2px solid $darkColor4;
    transform: rotate(-120deg);
    margin: -5px;
    @include animation(animate 2s infinite);
  }
  .arrow span:nth-child(2){
    animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
    animation-delay: -0.4s;
  }
  @keyframes animate {
    0%{
      opacity: 0;
      transform: rotate(-135deg) translate(-5px,-5px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(-135deg) translate(5px,5px);
    }
  }


  //////////////////////////////

  .journal-header{
    height: 65%;
    img{
      @include transition(all 200ms linear);
      filter: brightness(60%);
    }
  }
  &:hover img{
    @include transform(scale(1.05));
    filter: brightness(90%);
  }
}

.journal-body{
  @include dimension(100%,215px);
  position: absolute;
  background: $pinkColor;
  top: 149px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  @include transition(all 300ms linear);
  &:hover{
    @include transform(translateY(-95px));
  }
  h6{
    color: $redColor;
  }

}
.changeOpc1{
  @include animation(changeOpc1 200ms linear backwards);
}
@keyframes changeOpc1 {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.changeOpc2{
  @include animation(changeOpc2 200ms linear backwards);
}
@keyframes changeOpc2 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
////////////////////////////// profile info section

#hydraco-manager-profile{
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../images/section3/background.jpg) no-repeat center center/cover fixed;
  height: auto;
  margin-top: -100px;
  @include p(all,7rem 0 5rem 0);
  h1{
    font-size: 5rem;
    line-height: 1!important;
    margin-bottom: 2rem;
  }

}
.profile-card{
  width: 15rem;
  height: 18.7rem;
  overflow: hidden;
  border-radius:14px;
  @include transition(all 200ms linear);
  &:hover{
    @include transform(translateY(-5px));
  }
  img{
    border-radius: 14px;
    border: 3px solid #333;
  }.dropdown-btn{
       top: 84%;
       right: 7%;
       cursor: pointer;
       z-index: 999;
  }
  .description{
    top: 100%;
    width: 102%;
    right: -1px;
    border-radius: 14px;
    padding: 0.2rem;
    box-sizing: border-box;
    i{
      background-color: #333;
      color: white;
      display: inline-flex;
      padding: 0.4rem;
      border-radius: 5px;
      cursor: pointer;
      @include transition(all 200ms linear);
    }
    .title{
      background: #333;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-top: 6px;
      padding-bottom: 19px;
      padding-left: 12px;
      color: white;
      h3{
        color:$blueColor;
      }
      p{
        color: $orangeColor2;
      }
    }
    .social-icons{
      padding-left: 9px!important;
      padding-bottom: 6px!important;
    }
  }
}
.moveUp{
  @include animation(moveUp 300ms linear forwards);
}
.moveDown{
  @include animation(moveDown 300ms linear forwards);
}
@keyframes moveUp {
  from{
    top: 100%;
  }
  to{
    top: 59%;
  }
}
@keyframes moveDown {
  from{
    top: 59%;
  }
  to{
    top: 100%;
  }
}
////////////////// partners section ////////////////
#partners{
  .partner-container{
    div{
      &:nth-child(1){
        svg{
          cursor: pointer;
          g{
            @include transition(all 200ms linear);
          }

          &:hover{
            g{
              fill: $redColor!important;
            }

          }

        }
      }
      &:nth-child(2){
        svg{
          cursor: pointer;
          g{
            @include transition(all 200ms linear);
          }

          &:hover{
            g{
              fill: $greenColor!important;
            }

          }

        }
      }
      &:nth-child(3){
        svg{
          cursor: pointer;
          g{
            @include transition(all 200ms linear);
          }
          &:hover{
            g{
              fill: $orangeColor1!important;
            }

          }

        }
      }
      &:nth-child(4){
        svg{
          cursor: pointer;
          g{
            @include transition(all 200ms linear);
          }
          &:hover{
            g{
              fill: $yellowColor!important;
            }

          }

        }
      }
      &:nth-child(5){
        svg{
          cursor: pointer;
          g{
            @include transition(all 200ms linear);
          }
          &:hover{
            g{
              fill: $darkColor3!important;
            }

          }

        }
      }
    }
  }
}
/////////////////// plans section /////////////////////////
#plans{
  .plan-card{
    border: 1px solid #ccc;
  }
  .bi-check-lg,.bi-x-lg{
    display: inline-flex;
    @include borderRadius(24px);
    background: green;
    color: white;
    font-size: 1.2rem !important;
    padding: 0.1rem;
  }
  .bi-x-lg{
    background-color: red!important;
    font-size: 16px!important;
    padding: 0.2rem!important;
  }
  .btn-dark-h{
    @include borderRadius(10px);
    @include transition(all 150ms linear);
    &:hover{
      @include transform(translateY(-5px));
    }
  }

}
/////////////////////////// slider section

#product-slider{
  .slider{
    height: 536px;

    &:hover{
      .next-btn{
        right: 1%;
      }
      .left-btn{
        left: 1%;
      }
    }
  }
  .slider-container{
    margin-left: 0;
    @include transition(all 300ms ease-in-out);

  }
  .slider-item{
    width: 350px;
    height: 96%;
    float: left;
    margin: 1rem 0.5rem;
    @include borderRadius(10px);
    overflow: hidden;
    background-color: white;
    border:1px solid #cccccc;
    a:not(.btn-orange-h){
      @include transition(all 150ms linear);
      &:hover{
        color: #1086d6;
      }

    }
    &:hover{
      .course-price{
        span{
          opacity: 0;
        }
        .btn-orange-h{
          opacity: 1;
        }
      }
    }
    .course-price{
      span{
        top: -23px;
        opacity: 1;
      }
      .btn-orange-h{
        left: -127px;
        top: -22px;
        opacity: 0;
      }
    }

  }

  .next-btn{
    top: 35%;
    right: -7%;
    cursor: pointer;
    font-size: 3rem;
    @include transition(all 200ms linear);
  }
  .left-btn{
    top: 35%;
    left: -7%;
    cursor: pointer;
    font-size: 3rem;
    @include transition(all 200ms linear);
  }
}
///////////////////////////// contact us section
#contact-us{
  .login-form-picture{
    @include dimension(100%,530px);
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  .contact-us-container{
    @include borderRadius(28px);
  }
  .login-form{
    background-color: $darkColor3;
    @include boxShadow(0px 0px 5px rgba(255, 255, 255, 0.2));
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  .create-account-inputs{
    border:none;
    background: transparent;
    border-bottom: 1px solid aliceblue;
    font-size: 0.9rem;
    color: white;
    padding: 0.3rem;
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  label{
    font-size: 0.9rem;
    position: absolute;
    top: -17px;
  }
  .input-container{
    width: 80%;
    &.failed{
      .message{
        display: inline-block;
        color: $redColor;
      }
      input{
        border-color: $redColor;
      }
    }
    &.success{
      .message{
        display: inline-block;
        color: $greenColor;
      }
      input{
        border-color: $greenColor;
      }
    }
    .message{
      display: none;
    }
  }
  button.btn-dark-h,a.btn-dark-h{
    color: $orangeColor2!important;
  }
  select{
    background-color: #333!important;
    color: $label-color!important;
    border: none;
    border-bottom: 1px solid aliceblue;
    border-radius: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    padding: 0;
    padding-bottom: 0.3rem;
  }
  .form-select:focus{
    box-shadow: none!important;
  }
  option{
    color: white;
  }
  .show-password-icon{
    color: white;
    right: 53px;
    top: 7px;
    cursor: pointer;
  }
}
/////////////////////// footer //////////////
#footer{
  background:url(../../images/footer/wave.svg) no-repeat center center/cover;
  background-color: $darkColor4;
  .pages-result,.technical-support{
    @include dimension(80%,auto);
    @include borderRadius(10px);
  }
  .pages-result{
    background: $darkColor2;
  }
  .technical-support{
    background: $orangeColor1;
  }
  .hydraco-logo{
    background:url(../../images/header/Hydraco-logo.png) no-repeat center center/cover;
    @include dimension(30px,38px);
  }
  .share-icons{
    a{
      display: inline-flex;
      padding: 0 0.8rem;
      background: white;
      border-radius: 50%;
      @include transition(all 150ms linear);
      i{
        @include transition(all 150ms linear)
      }
    }
    a:first-child:hover{
      i{
        color: #4267B2!important;
      }
    }
    a:nth-child(2):hover{
      i{
        color: #1DA1F2!important;
      }
    }
    a:nth-child(3):hover{
      i{
        color: #fd5949;
      }
    }
    a:last-child:hover{
      i{
        color: #0075b5;
      }
    }
  }
  ul{
    a{
      @include transition(all 150ms linear);
    }
    li{
      margin-bottom: 0.5rem;
      &:hover{
        a{
          font-weight: bold!important;
        }
      }
    }



  }






}

////////////////////// scroll top ///////////////
.scrollToTop{
  right: 3%;
  bottom: 2%;
  display: none;
  &:hover{
    @include animation(shake 300ms linear backwards);
  }
  i{
    display: inline-flex;
    background: $greenColor;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
  }
}
@keyframes shake {
  0%{
    @include transform(scale(1.1));
  }
  25%{
    @include transform(scale(1));
  }
  50%{
    @include transform(scale(1.1));
  }
  75%{
    @include transform(scale(1));
  }
  100%{
    @include transform(scale(1.1));
  }

}

